
// Color system

$primary-10: #9B1C23;  // dark
$primary-20: #C8252C;  // medium(default)
$primary-30: #DC4149;  // light

$accent-10:  #2F424C;
$accent-20:  #425C6C;
$accent-30:  #55798B;

$black-10:   #050506;
$black-20:   #1B1D22;
$black-30:   #32353E;

$gray-10:    #5E5E5E;
$gray-20:    #919191;
$gray-30:    #DEDEDE;
$gray-40:    #F7F7F7;
$gray-50:    #FCFCFC;

// for error/warning/danger states use only
$red-10:     #C04630;
$red-20:     #E4583F;
$red-30:     #FE7158;
$red-40:     #FFC7BD;

$yellow-10:  #A56F18;
$yellow-20:  #E4A53F;
$yellow-30:  #FEBE58;
$yellow-40:  #FFE6BD;

$green-10:   #4A734E;
$green-20:   #519E5D;
$green-30:   #88CE92;
$green-40:   #CDEFD2;

$blue-10:    #356488;
$blue-20:    #1B78C0;
$blue-30:    #6CB3EA;
$blue-40:    #BDE2FF;

$purple-10:  #6C5D92;
$purple-20:  #876EB4;
$purple-30:  #BAACDD;
$purple-40:  #D8CDEF;

:export {
  alert20: $yellow-20;
  success20: $green-20;
  border20: $gray-20;
}
