@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.otf") format('opentype');
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.otf") format('opentype');
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.otf") format('opentype');
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all 1.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

span {
  cursor: default;
}
input, a, button, :focus {
  outline: none;
}

body {
  width: 280px;
  height: 450px;
  background-image: radial-gradient(circle at 50% 35%, #ffffff, #dddddd);
  margin: 0;
  font-family: ProximaNova, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, Helvetica, sans-serif;
  transition: height 2s;
  user-select: none;
  overflow: hidden;
  transition: height 2s;
}

input, textarea, select, button { /* override user agent stylesheet */
  font-family: ProximaNova, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

#help {
  font-size: 14px;
  letter-spacing: 0.4px;
  margin-left: -20px;
  position: absolute;
  right: 5vw;
  top: 16px;
}

#saveSettings {
  bottom: 60px;
  left: 32px;
}

.errorBtn:hover {
  opacity: 0.8;
}

.speech-bubble {
  position: absolute;
  margin-right: 10px;
	background: #6d6d6d;
  border-radius: .4em;
  z-index: 10;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 10%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom-color: #6d6d6d;
	border-top: 0;
	margin-left: -11px;
	margin-top: -11px;
}

.locationList {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.regionList {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s linear; */
}

.sideHeader {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideHeader span {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1c21;
  cursor: default;
  font-family: ProximaNova-Light;
}

.sideBackBtn {
  position: absolute;
  content: ' ';
  height: 16px;
  width: 16px;
  background-image:url('../images/back@2x.png');
  background-size: auto 12px;
  background-repeat: no-repeat;
  background-position: center;
  left: 20px;
  top: 26px;
  cursor: pointer;
}

#countryBackBtn {
  position: absolute;
  content: ' ';
  height: 16px;
  width: 16px;
  background-image: url(../images/back@2x.png);
  background-size: auto 12px;
  background-repeat: no-repeat;
  background-position: center;
  left: 12px;
  top: 15px;
  cursor: pointer;
}

.sideHeader1 {
  width: 260px;
  height: 45px;
  background-color: #dddddd;
  color: #1a1c21;
  margin-left: 10px;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0px -1px 5px 0px rgba(0, 0, 0, 0.1)
}

.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}

.hidden {
  display: none !important;
}

#app {
  display: none;
}

#cancelAction {
  border: none;
  background-color: transparent;
  background-image:url('../images/cancel@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;color: white;
  padding: 0;
  outline: none;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}



.disabledText {
  color: #ccc !important;
}
#upgradeFirefox {
  display: none;
}

#upgradeFirefox span {
  font-size: 11px;
  color: red;
  margin-bottom: 0px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px 0px 5px;
}

/*.header.NOT_INSTALLED {
  background-color: #fff;
}
*/

.noAppContainer {
  background: #f6f6f6;
}

.header.NOT_INSTALLED .longLogo {
  height: 147px;
  width: 147px;
  top: 25px;
}

.header.errorState {
  /*background-color: #f6f6f6;*/
}

.errorContainer {
  background: #f6f6f6;
  height: 100vh;
}

#logo {
  height: 22px;
}

.shieldHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#settingsIcon {
  background-size: contain;
  background-image: url('../images/hamburger@2x.png');
}

.openExternal:after {
  background-size: contain;
  background-image:url('../images/external@2x.png');
}
.shield {
  width: 116px;
  height: 143px;
  background-color: transparent;
  /* Child view can be placed relatively so it won't get shifted down while connecting */
  position: relative;
  content: ' ';
  background-image:url('../images/grey-circle-and-shield@2x.png');
  background-size: contain;
}
.shield.connected {
  background-size: contain;
  background-image:url('../images/green-circle-and-shield@2x.png');
}

.button {
  width: 73px;
  height: 73px;
  background-color: transparent;
  content: ' ';
  background-image:url('../images/default-button@2x.png');
  background-size: contain;
}

.button:not(.reconnecting):not(.disabled):hover {
  background-size: contain;
  background-image:url('../images/hover-button@2x.png');
}

.button:not(.disabled):active {
  background-size: contain;
  background-image:url('../images/clicked-button@2x.png');
}

.power {
  width: 20px;
  height: 22px;
  background-color: transparent;
  content: ' ';
  background-image:url('../images/grey-power@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -1px;
}

.power.on {
  width: 34px;
  height: 34px;
  background-size: contain;
  background-image:url('../images/green-power@2x.png');
}

.stateHolder {
  text-align: center;
}
#state {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #606060;
  margin-top: 15px;
  display: inline-block;
}

#state.connecting, #state.reconnecting, #state.speedtesting {
  cursor: pointer;
}

#progressBar {
  height: 2px;
  width: 145px;
  background-color: #dadada;
  margin-top: 11px;
}

#bar {
  background-color: #6ac56d;
  height: 2px;
  width: 0;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#locationType {
  text-transform: uppercase;
  font-size: 9px;
  color: #606060;
  margin-top: 13px;
}

.currentLocationHolder {
  margin-top: 6px;
}

#currentLocationText {
  font-size: 12px;
  color: #606060;
}



p {
  user-select: none;
  cursor: default;
  margin: 0;
}

#currentLocationFlag {
  width: 22px;
  height: 22px;
  content: ' ';
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.footer {
  height: 60px;
  border-radius: 3px;
  background-color: rgba(247, 247, 247, 0.6);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 7px;
  right: 7px;
  left: 7px;
  padding: 9px;
}

.footer p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 15px;
  color: #3f4551;
  margin: 0;
}

.footer a {
  position: absolute;
  bottom: 8px;
}

a {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #049cdb;
  text-decoration: none;
  cursor: pointer;
}

#powerBtn {
  z-index: 2;
}
#loader {
    background-image:url('../images/connecting_spinner@2x.png');
    background-color: transparent;
    content: ' ';
    background-size: contain;
    position: absolute;
    z-index: 1;
    width: 73px;
    height: 73px;
    /* Set top and left relatively center to its parent */
    top: calc(50% - 36.5px);
    left: calc(50% - 36.5px);
    animation: spin 2s linear infinite;
}

#cancelSpeedTest.invisible {
  display: none;
}

.longLogo {
  position: absolute;
  content: ' ';
  height: 147px;
  width: 147px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 20px;
  top: 20px;
  background-image:url('../images/long-logo@2x.png');
}


/* For Safari css fixes.. */
#notification.showNotification + .header #settingsIcon.ready {
  background-size: contain;
  background-image: url('../images/hamburger_white@2x.png');
}

#notificationDismissButton,
#backToMainScreenButton {
  background-size: contain;
  background-image: url('../images/close@2x.png');
}


@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Firefox "move to menu" specific style but limit height so it will display fine in 4k */
@media (max-height:900px) and (min-height:420px) {
  body {
    height: 100vh;
    width: 100vw;
    transition: height 0s;
  }
  .footer {
    height: 15vh;
  }
  .connectBtnHolder {
    margin-top: 4vh;
  }
}


.account-status .account-card-icon {
  background-size: contain;
  background-image: url('../images/Account@2x.png');
}
.account-expiry .account-card-icon {
  background-size: contain;
  background-image: url('../images/Expiry@2x.png');
}

#errorWhyRenew > li {
  background-size: contain;
  background: url('../images/check-on@2x.png') no-repeat left;
}

.ulWrapper ul > li {
  background: url('../images/CheckGreen@2x.png') no-repeat left;
  background-size: 14px 11px;
}

.promobar-icon {
  content: ' ';
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('../images/Error@2x.png');
  margin-left: auto;
}

.errorHeader {
  background-color: #ef0a00;
  color: #fff;
  border-radius: 4px;
  padding: 9px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location-icon.smart {
  background-size: contain;
  background-image: url('../images/location-smart@3x.png');
}
.location-icon.recent {
  background-size: contain;
  background-image: url('../images/location-recent@3x.png');
}
.location-icon.recommended {
  background-size: contain;
  background-image: url('../images/location-recommended@3x.png');
}

#searchBtn {
  background-size: contain;
  background-image: url('../images/search@2x.png');
}
.search-icon {
  background-size: contain;
  background-image: url('../images/search-icon@2x.png');
}
#cancelSearchBtn {
  background-size: contain;
  background-image: url('../images/cancel@2x.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .longLogo {
    background-image:url('../images/long-logo@2x.png');
  }
  .ulWrapper ul > li {
    background: url('../images/CheckGreen@2.png') no-repeat left;
  }
  .promobar-icon {
    background-image:url('../images/Error@2x.png');
  }
  .account-status .account-card-icon {
    background-image: url('../images/Account@2x.png');
  }
  .account-expiry .account-card-icon {
    background-image: url('../images/Expiry@2x.png');
  }
  .openExternal:after {
    background-image:url('../images/external@2x.png');
  }
  .sideBackBtn {
    background-image:url('../images/back@2x.png');
  }
  #cancelAction {
    background-image:url('../images/cancel@2x.png');
  }
  #errorWhyRenew > li {
    background: url('../images/check-on@2x.png') no-repeat left;
  }
  #settingsIcon {
    background-image: url('../images/hamburger@2x.png');
  }
  .shield {
    background-image:url('../images/grey-circle-and-shield@2x.png');
  }
  .shield.connected {
    background-image:url('../images/green-circle-and-shield@2x.png');
  }
  .button {
    background-image:url('../images/default-button@2x.png');
  }
  .button:not(.reconnecting):not(.disabled):hover {
    background-image:url('../images/hover-button@2x.png');
  }
  .button:not(.disabled):active {
    background-image:url('../images/clicked-button@2x.png');
  }
  .power {
    background-image:url('../images/grey-power@2x.png');
  }
  .power.connected {
    background-image:url('../images/green-power@2x.png');
  }
  #loader {
    background-image:url('../images/connecting_spinner@2x.png');
  }
  #notification.showNotification + .header #settingsIcon.ready {
    background-image: url('../images/hamburger_white@2x.png');
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .longLogo {
    background-image:url('../images/long-logo@3x.png');
  }
  .ulWrapper ul > li {
    background: url('../images/CheckGreen@3.png') no-repeat left;
  }
  .promobar-icon {
    background-image:url('../images/Error@3x.png');
  }
  .account-status .account-card-icon {
    background-image: url('../images/Account@3x.png');
  }
  .account-expiry .account-card-icon {
    background-image: url('../images/Expiry@3x.png');
  }
  .openExternal:after {
    background-image:url('../images/external@3x.png');
  }
  .sideBackBtn {
    background-image:url('../images/back@3x.png');
  }
  #cancelAction {
    background-image:url('../images/cancel@3x.png');
  }
  #errorWhyRenew > li {
    background: url('../images/check-on@3x.png') no-repeat left;
  }
  #settingsIcon {
    background-image: url('../images/hamburger@3x.png');
  }
  .shield {
    background-image:url('../images/grey-circle-and-shield@3x.png');
  }
  .shield.connected {
    background-image:url('../images/green-circle-and-shield@3x.png');
  }
  .button {
    background-image:url('../images/default-button@3x.png');
  }
  .button:not(.reconnecting):not(.disabled):hover {
    background-image:url('../images/hover-button@3x.png');
  }
  .button:not(.disabled):active {
    background-image:url('../images/clicked-button@3x.png');
  }
  .power {
    background-image:url('../images/grey-power@3x.png');
  }
  .power.connected {
    background-image:url('../images/green-power@3x.png');
  }
  #loader {
    background-image:url('../images/connecting_spinner@3x.png');
  }
  #notification.showNotification + .header #settingsIcon.ready {
    background-image: url('../images/hamburger_white@3x.png');
  }
}
.only-for-alpha-builds { display: none; }

/*--OVERRIDE_STYLES_ALPHA_BUILD_ONLY--
#SettingsGeneral .settings {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.setting {
  margin-top: 10px !important;
}
--/OVERRIDE_STYLES_ALPHA_BUILD_ONLY--*/

#searchBtn {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  right: 23px;
  cursor: pointer;
}
